:root {
  --first-color: #272142;
  --second-color: #6c63ff;
  --third-color: #f9f7fe;
  --fourth-color: white;
  --fifth-color: black;
  --sixth-color:#272142;
  --seventh-color:#6c757d;
  --first-font:"Playfair Display", serif;
  --second-font: "Poppins", sans-serif;
}

body {
  margin: 0 0;
  padding: 0 0;
}
.wrapper,  .about-wrapper{
  text-align: center;
  padding: 51px 67px;
}
.wrapper {
  background-color: var(--third-color);
  height: 900px;
  margin-bottom: 50px;
}
.greeting-text {
  margin-top: 97px;
}
.name {
  color: var(--fifth-color);
  font-family: var(--first-font);
  font-weight: 700;
  font-size: 96px;
}
p {
  font-family: var(--second-font);
  font-weight: normal;
}
.greeting {
  color: var(--first-color);
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 36px;
}
#text-about {
  font-family: var(--first-font);
  color: var(--first-color);
  font-weight: 700;
  font-size: 24px;
  margin: 0 auto;
}
.button-contact-me {
  display: inline;
  background-color: var(--second-color);
  padding: 18px 18px;
  border-radius: 4px;
}
.button-contact-me a {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  text-align: center;
  color: var(--third-color);
}
.button-contact-me:hover {
  color: var(--first-color);
}
.second-wrapper {
  padding: 0 0;
  margin: 0 67px;
}
.text-second-part {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 50px;
}
.headerDictionary,
.headerWeather,
.headerYogurt {
  font-family: var(--first-font);
  font-size: 64px;
  font-weight: 700;
  line-height: 85px;
  color: var(--fifth-color);
  margin-top: 95px;
  margin-bottom: 55px;
}
.content-yogurt,
.content-dictionary,
.content-weather{
  margin-bottom: 68px;
  font-family: var(--second-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  color: var(--first-color);
}
.contact-link {
  background-color: var(--fourth-color);
  color: var(--second-color);
  border: 1px solid var(--second-color);
  border-radius: 4px;
  padding: 18px 46px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
}
.contact-link:hover {
  background-color: var(--second-color);
  color: var(--fourth-color);
}
.img-fluid {
  margin-bottom: 70px;
}
.my-work .img-fluid{
  margin-bottom: 16px;
}
#last-row{
  padding: 0 0;
  margin-bottom: 200px;
}
.third-wrapper {
  padding: 0 0;
  margin: 0 79px;
}
.block-work-inquiry {
  background-color: var(--third-color);
  border-radius: 4px;
  padding: 49px 119px;
  height: 200px;
}
.work-inquiry {
  font-family: var(--first-font);
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  color: var(--fifth-color);
  padding-bottom: 4px;
}
.work-inquiry-content {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--first-color);
}
.email-link-block {
  padding-top: 41px;
  text-align: right;
}
.email-link {
  display: inline;
  background-color: var(--second-color);
  padding: 18px 38px;
  border-radius: 4px;
}
.email-link a {
  font-family: var(--second-font);
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  text-decoration: none;
  color: var(--third-color);
  margin: 0 auto;
}
.email-link a:hover {
  color: var(--first-color);
}
.my-email {
  font-family: var(--second-font);
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-align: center;
  color: var(--fifth-color);
  margin-top: 81px;
  margin-bottom: 41px;
}
.social-media-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-bottom: 132px;
}
.fa-facebook-f,
.fa-twitter,
.fa-instagram {
  font-size: 18px;
  color: var(--second-color);
  margin: 11px auto;
}
.facebook,
.twitter,
.instagram {
  width: 40px;
  height: 40px;
  background-color: var(--third-color);
  margin-right: 33px;
  border-radius: 50%;
}
.facebook:hover,
.twitter:hover,
.instagram:hover {
  border: 1px solid var(--second-color);
}
.first-image-caption{
  font-family: var(--second-font);
  color: var(--fifth-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 9px;
}
.second-image-caption{
  font-family: var(--second-font);
  color: var(--first-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  margin-bottom: 40px;
}